*{}
body{background-repeat: no-repeat; background-attachment: fixed; background-size: contain; background: linear-gradient(#f7e7c8,#f5f4d0)}

    h1{text-align:center; font-style:oblique; font-size: 40px;}
.list{font-family:"Permanent Marker"; font-size: larger; text-align: center;}
.list li{margin: 0 auto; list-style-position: inside;}