body{
    margin: auto;background:linear-gradient(to right,#a8d936,#119c74);background-repeat: no-repeat;background-attachment: fixed;
    
}
h1{text-align: center; font-family:"Honk";font-weight: bold;
}
div p{ text-align: center;font-family: sans-serif; font-weight:2px    }
/*titulo 2*/
.title2{text-align: center; font-family:"Honk";font-weight: bold}
/*paragrafo 2*/
.p2{text-align: center;font-family:sans-serif; font-size: 25px;}
.list{ border: 20px; margin:0 auto; display: block; width: fit-content;justify-content: center; background-color: #31eb78; padding: 20px; border-radius: 20px;
    border-width: 5px;}
    .title3{text-align: center; font-family:"Honk";font-weight: bold; margin-top: 20px}
    h1,h2{text-transform: uppercase}
.p3{text-align: center;font-family:sans-serif; font-size: 25px;}
.list2{border: 20px; margin:0 auto; display: block; width: fit-content;justify-content: center; background-color: #31eb78; padding: 20px; border-radius: 20px;
    border-width: 5px}
    .title3{text-align: center; font-family:"Honk";font-weight: bold}
    .p4{text-align: center;font-family:sans-serif; font-size: 25px}
    .list3{20px;margin:0 auto; display: block; width: fit-content;justify-content:center;background-color:#31f784;padding:20px; border-radius: 20px;
    border-width:5px}